@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
}

.petit-caps {
	font-variant: petite-caps;
}
.all-petit-caps {
	font-variant: all-petite-caps;
}
:focus-visible {
	outline: none;
}