@tailwind base;
@tailwind components;
@tailwind utilities;

.petit-caps {
	font-variant: petite-caps;
}
.all-petit-caps {
	font-variant: all-petite-caps;
}
input:focus, .input:focus-within  {
	@apply outline-none;
}

.footer-title {
	@apply opacity-90;
  }